<nav aria-label="breadcrumb" class="m-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/latest">Search Results</a></li>
        <li class="breadcrumb-item" aria-current="page">{{title}}</li>
    </ol>
</nav>
<div class="card info-card">
    <div class="row g-0 info-row">
        <div class="col-md-4 info-poster-col">
            <img src="{{poster}}" alt="{{title}} Poster" class="info-poster-img" />
        </div>
        <div class="col-md-8 info-details-col">
            <div class="card-body">
                <h1 class="card-title">{{title}}</h1>
                <p class="card-text">
                    <small class="text-warning me-3">Type: {{type}}</small>
                    <small class="text-warning me-3">Genre: {{genre}}</small>
                    <small class="text-warning me-3">Duration: {{duration}}</small>
                </p>
                <p class="card-text">{{description}}</p>
                <p class="card-text">
                    <small class="me-3 text-warning">Release Date: {{releaseDate}}</small>
                </p>
                <p class="card-text">
                    <small class="me-3 text-warning">Rating: {{rating}}/10</small>
                </p>
                <p class="card-text">
                    <small class="me-3 text-warning">Country: {{country}}</small>
                </p>
            </div>
        </div>
    </div>
</div>