<div id="carouselExampleCaptions" class="carousel slide mb-5" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {{#each carousel}}
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{@index}}" class="{{#if @first}}active{{/if}}" aria-current="{{#if @first}}true{{/if}}" aria-label="Slide"></button>
    {{/each}}
  </div>
  <div class="carousel-inner">
    {{#each carousel}}
    <div class="carousel-item {{#if @first}}active{{/if}}">
      <img src="{{this.backdrop}}" class="d-block w-100" alt="{{this.title}}">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{this.title}}</h5>
        <p>{{this.overview}}</p>
      </div>
    </div>
    {{/each}}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container pb-5">
    <h1 class="m-4 display-5 text-left">{{{title}}}</h1>
    <div class="content__shows">
        {{#each items}}
        <a href="/info/{{media_type}}/{{id}}" class="card-link">
            <div class="card-item">
                <img src="{{this.poster}}" alt="Movie Poster" />
                <div class="title-box"></div>
                <div class="name">{{this.title}}</div>
            </div>
        </a>
        {{/each}}
    </div>
</div>